.profile ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top:0px; 
    margin-bottom: 0px;
}

.profile img {
    width:　350px;
    height: 414px;
}

.contact {
    width: 250px;
}

article {
    border-top:solid 1px  black;
}

article:last-child {
    border-bottom:solid 1px  black;
}

article span{
  color:red;
}

body {
    font-size: 16px;
}